body {
    background-color: saddlebrown;
}

.main-page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    font-family: fantasy;
    color: white;
}

.main-page-first-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viking-boats {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    border-radius: 25px;
    border: solid;
    border-color: aqua;
    border-width: 10px;
}