body {
    background-color: saddlebrown;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.menu-button {
    margin-right: 10px; 
    margin-left: 10px;
    font-size: x-large;
}

.divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 17px;
}

.main-page-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: xx-large;
    font-family: fantasy;
    color: white;
}

.main-page-first-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viking-boats {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    border-radius: 25px;
    border: solid;
    border-color: aqua;
    border-width: 10px;
}

.paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-size: x-large;
    margin-left: 200px;
    margin-right: 200px;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 55%;
    border-radius: 25px;
    border: solid;
    border-color: aqua;
    border-width: 10px;
}

.image-caption {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-left: 280px;
    margin-right: 280px;
}

h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapter-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: xx-large;
    color: white;
    font-family: fantasy;
    margin-top: 70px;
}

.map-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    border-radius: 25px;
    border: solid;
    border-color: aqua;
    border-width: 10px;
}
