body {
    background-color: saddlebrown;
}

.norway-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: xx-large;
    font-family: fantasy;
    color: white;
}

.norway-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oslo-1 {
    max-width: 40%;
    border-radius: 25px;
    border: solid;
    border-color: aqua;
    border-width: 10px;
}