body {
    background-color: saddlebrown;
}

.norway-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: xx-large;
    font-family: fantasy;
    color: white;
}